<link rel="stylesheet" href="~/css/Prikaz/ProfesorPrikaz.css"/>
<link rel="stylesheet" href="~/css/Poruke_Span.css"/>
@{
    ViewData["Title"] = "Profesori";

    List<PrikazProfesora> podaci = (List<PrikazProfesora>)ViewData["profesor"];

    int b = 0;

    string porukaUspjeh = (string)TempData["uspjeh"];
    string porukaGreska = (string)TempData["greska"];

}
<h1 style="font-family:Consolas">Profesori</h1>

@if (porukaUspjeh != null)
{
    <center>
        <div id="poruka2">@porukaUspjeh</div>
    </center>
    <script>
        $("#poruka2").slideUp(1);
        $("#poruka2").slideDown(1500);
        $("#poruka2").delay(2000);
        $("#poruka2").slideUp(1500);
    </script>
}

@if (porukaGreska != null)
{<center>
        <div id="poruka">@porukaGreska</div>
    </center>
    <script>
        $("#poruka").slideUp(1);
        $("#poruka").slideDown(1500);
        $("#poruka").delay(2000);
        $("#poruka").slideUp(1500);
    </script>
}

    <table class="table profesori-table" style="font-family:Consolas">
        <thead>
        <th>RB</th>
        <th>Ime i prezime</th>
        <th>Zvanje</th>
        <th>Mail</th>
        <th>Telefon</th>
        <th>Adresa</th>
        <th>Datum rođenja</th>
        <th>Datum zaposlenja</th>
        <th>spol</th>
        <th>Staž</th>
        <th>Stalni zaposlenik</th>
        <th>Kancelarija</th>
        <th></th>
        <th></th>
        <th></th>
        </thead>
        <tbody>
            @foreach (var x in podaci)
            {
                <tr>
                    <td>@(++b)</td>

                    <td>@x.ime @x.prezime</td>

                    <td>@x.zvanje</td>

                    <td>@x.mail</td>

                    <td>@x.telefon</td>

                    <td>@x.adresa</td>

                    <td>@x.datum_rodjenja.Date.Day.@x.datum_rodjenja.Date.Month.@x.datum_rodjenja.Date.Year.</td>

                    <td>@x.datum_zaposlenja.Date.Day.@x.datum_zaposlenja.Date.Month.@x.datum_zaposlenja.Date.Year.</td>

                    <td>@x.spol</td>

                    <td>@x.staz</td>

                    <td>@x.stalan_zaposlenik</td>

                    <td>@x.kancelarija</td>

                    <td><a href="UrediForm?id=@x.Profesor_Id" class="btn btn-info">Uredi</a></td>

                    <td>
                        <a id="details_@x.Profesor_Id" class="btn btn-warning">Detalji</a>
                        <script>

                            $("#details_@x.Profesor_Id").click(function (event) {
                                $.get("/Ajax/DeteljiProfesorRadi?id=@x.Profesor_Id", function (result) {
                                    $("#box_radi").html(result);
                                    $("#main_box").css("border","2.5px solid black");
                                    $("#box_radi").css("border","1px solid black");
                                });

                                $.get("/Ajax/DetaljiProfesorPredaje?id=@x.Profesor_Id", function (result) {
                                    $("#box_predaje").html(result);
                                    $("#main_box").css("border", "2.5px solid black");
                                    $("#box_predaje").css("border", "1px solid black");
                                });
                            });
                        </script>
                    </td>

                    <td><a id="_mouse_@x.Profesor_Id" class="btn btn-danger" href="Ukloni?trazeni=@x.Profesor_Id">Ukloni</a></td>
                    <td><span id="_warning_@x.Profesor_Id"></span></td>
                    <script>
                            $("#_mouse_@x.Profesor_Id").mouseover(function (event) {
                                $("#_warning_@x.Profesor_Id").html("PRVO UKLONITE DETALJE O RADU");
                                $("#_warning_@x.Profesor_Id").css("border","1px solid red")
                            });
                            $("#_mouse_@x.Profesor_Id").mouseleave(function (event) {
                                $("#_warning_@x.Profesor_Id").html("");
                                $("#_warning_@x.Profesor_Id").css("border","0px")
                            });
                    </script>
                </tr>
            }
        </tbody>
    </table>
<center>
    @*<a href="DodajForm" class="btn btn-success">Dodaj profesora</a><br /><br />*@
    <a href="DodajNovog" class="btn btn-success">Dodaj novog profesora </a>
</center>
<div id="main_box">
    <div id="box_radi"></div>
    <div id="box_predaje"></div>
</div>